#calendar{
    background-color: $gray-100;
    .calendar {
        &-title h3 {
            font-family: $headings-font-family;
            font-size: 1.4rem;
        }
    
        &-item {
            margin: 1rem 0;
            color: $dark-gray;
            i{
                color: $gray-500;
            }
        }
    }
    
}
