.contact {
  .text {
    margin-bottom: 0.5rem;
    color: #fff;
    a {
      color: #d7d7d7;
    }
  }
  .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .map {
    max-width: 400px;
    margin: 0.5rem auto;
  }
  .social-contact {
    margin-top: 2rem;

    a i {
      margin: 1rem; 
      color: white;
      &:hover{
        color: $primary;
      }     
    }
  }
  .instagram-img img {
    max-height: 90px;
  }
  &-bg {
    // padding-bottom: calc(10rem - #{$navbar-height});
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    background-size: cover;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      background-attachment: scroll !important;
    }
  }
}

//footer
.footer {
  background-color: #343a40;
  color: white;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
  &-text{
    color: #7b7b7b; 
  }
  .icon-logo {
    max-height: 20px;
  }
}
