// Global styling for this template
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}
h2 {
  font-size: 1.8rem;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}
h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
p {
  font-size: 1rem;
  margin: 0 0 10px;
  color: $font-text-color;
  font-family: $font-family-base;
}
body {
  background-color: $body-background;
  color: $font-text-color;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

a {
  color: $font-text-color;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: darken($font-text-color, 10%);
    text-decoration: none;
  }
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: $light-gray;
  font-weight: 400;
}
small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}
img {
  vertical-align: middle;
  border-style: none;
}
form {
  margin-bottom: 1.125rem;
}

// Custom horizontal rules
hr {
  &.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: $divider-color;
  }
  &.full {
    max-width: 90%;
    color: $divider-color;
    border-width: 0.1rem;
  }
  &.light {
    border-color: $white;
  }
}

// Button restyling
.btn {
  font-family: $headings-font-family;
  &-xl {
    padding: 0.7rem 1.5rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin: 2rem 0;
  }
  &-dark {
    padding: 0.7rem 1.5rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
  }
}

.box-image{
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
img.fluido{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.container-fluid{
  padding: 0; 
}

// Modal
.modal-backdrop {
  background-color: #fff;
}
.modal-backdrop.show {
  opacity: 0.8;
}


