.grid-column {
  ul {
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 3rem;
    }
  }
  &-name {
    color: $dark-black;
    margin-bottom: 0.3rem;
  }
  &-position {
    color: $gray-600;
    font-size: 1rem;
    margin-bottom: 0.6rem;
    font-style: italic;
  }
  &-testimonio {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.7rem;
  }
  &-source {
    color: $gray-600;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  i {
    color: $gray-600;
  }
}
