// Styling for the masthead
header.masthead {
	padding-top: 10rem;
	background-repeat: no-repeat;
	background-attachment: scroll!important;
	background-size: cover;
	overflow: hidden;
	margin-bottom: 1rem;
	.arrow img{
		max-width: 45px;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}
	p a i{
		color: $light-gray;
		margin-left: 0.8rem;
		font-size: 1.5rem;
	}
	@include media-breakpoint-up(lg) {
		background-attachment: scroll!important;
		height: 550px;
		min-height: 40rem;
		padding-top: $navbar-height;
		padding-bottom: 0;
		p {
			font-size: 1.15rem;
		}
		h1.portfolio {
			margin-top: 4rem;
			font-size: 4.5rem;
		}
		h1.music {
			font-size: 4.5rem;
			float: left;
		}
	}
	@include media-breakpoint-up(xl) {
		background-attachment: fixed!important;
		h1.portfolio {
			font-size: 5rem;
			max-width: 80%;
			margin: 5rem auto 0;
		}
		h1.music {
			font-size: 5.5rem;
			float: left;
		}
	}
}
