/**
 * Basic typography style for copy text
 A solution for this problem is percentage. Usually default font-size of the browser is 16px.
 Setting font-size: 100% will make 1rem = 16px. But it will make calculations a little difficult.
 A better way is to set font-size: 62.5%. Because 62.5% of 16px is 10px. Which makes 1rem = 10px.
 CALCULATION: Element font size in rem x 16px;
 */

 // Body text
// -------------------------

body,
html {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
}
h1,
h2,
h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
  font-weight: $font-weight-bold;
}
h2 {
  font-size: 2.2rem;
  line-height: 1.5em;
  font-weight: $font-weight-bold;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}
h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}
p {
  font-size: 1rem;
  margin: 0 0 10px;
  color: $text-color;
  font-family: $font-family-base;
}
body {
  background-color: $body-background;
  color: $text-color;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}
