// Base styling for the navbar
#mainNav {
  background-color: $navbar-color;
  box-shadow: $text-shadow;
  min-height: $navbar-height;
  .navbar {
    &-brand {
      font-family: $navbar-font-family;
      font-weight: 600;
      color: $navbar-text-color;
      text-transform: uppercase;
      margin: 1rem 0;
      img {
        max-height: 20px;
        margin: 0 auto;
        @include media-breakpoint-up(md) {
          max-height: 30px;
        }
      }
    }
    &-toggler {
      border: none;
      &-icon {
        background-image: url("../assets/images/menu.svg");
        max-width: 85%;
      }
      &:focus {
        outline: none;
      }
    }
    &-nav {
      .nav-item {
        &.active {
          .nav-link {
            color: $navbar-text-color !important;
            opacity: 1;
            background-color: $navbar-text-color-hover;
            border-radius: 5px;
          }
        }
        .nav-link {
          font-family: $font-family-base;
          color: $navbar-text-color;
          text-transform: uppercase;
          font-size: 0.8rem;
          padding: 0.5rem 0.75rem;
          margin: 0 0.5rem;
          display: inline-block;
          position: relative;
          &:hover,
          &:active {
            color: $navbar-text-color !important;
            opacity: 1;
            background-color: $navbar-text-color-hover;
            border-radius: 5px;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &-collapse {
      position: absolute;
      top: 54px;
      right: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 100%;
      height: 100vh;
      transition: all 0.3s ease;
      display: block;
      background-color: $navbar-togle-collapse;
      &.collapsing {
        margin-right: 50%;
        height: 100vh;
        transition: all 0.3s ease;
        display: block;
      }
      &.show {
        right: 0;
      }
    }
    &-nav {
      .nav-item {
        border-bottom: 1px solid $navbar-togle-collapse-line;
        padding: 0.5rem 0 !important;
        font-size: 2rem;
      }
    }
  }
}