// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  &-full {
    width: 100%;
  }
  &-basic {
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    color: #ffffff;
    background-color: $navbar-cta-bg-color;
    a{
      color: inherit;
    }
    i {
      color: inherit;
      font-size: 1rem;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      text-decoration: none;
      background-color: darken($navbar-cta-bg-color, 10%);
    }
  }
}
