hr {
    &.divider {
      max-width: 3.25rem;
      border-width: 0.2rem;
      border-color: $primary;
    }
    &.full {
      max-width: 90%;
      color: $primary;
      border-width: 0.1rem;
    }
    &.light {
      border-color: $white;
    }
  }